/* ==UserStyle==
@name           rm-nabu.trendmicro.com - 2023/3/3 13:57:01
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://rm-nabu.trendmicro.com/") {
    /* ここにコードを挿入...ユーザースタイルシート */


    
    .roleName::before {content: "（東海SBCカスタムVer　※一部情報・機能をマスク及び無効化しています）　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　" !important;}
    
    
    div.css-27e272.eecupy40 > div:nth-child(1) > button:nth-child(3) {pointer-events:none !important;}/* 20241107_「使用状況のエクスポート」　クリック無効 */
    div.Sidebar-sc-21plxt-0.irWUYB > nav > ul > li:nth-child(3) {pointer-events:none !important;}/* 20241219_Detectiom&Responseボタン　クリック無効 */
    div.Sidebar-sc-21plxt-0.irWUYB > nav > ul > li:nth-child(4) {pointer-events:none !important;}/* 20241108_レポートボタン　クリック無効 */
    div.Sidebar-sc-21plxt-0.irWUYB > nav > ul > li:nth-child(5) {pointer-events:none !important;}/* 20241108_管理ボタン　クリック無効 */

    div.not-draggable.css-kkbapy.eecupy40 > div > div:nth-child(3) {pointer-events:none !important;}/* ボタン　クリック無効 */
    
    a[name="connectwise"] {pointer-events:none !important;}
    /* a[name="connectwise"] + span::after {content: "（6文字以上）" display: contents color: #ff0000 !important;} */
    /* label.tm-form-cell-label {display:none !important;} */

    a[href="#/administration/notifications"] {pointer-events:none !important;} /* 「グローバル通知の受信者設定を変更する」リンクの無効化 */    
    
    div.tm-form-row:nth-child(1) {pointer-events:none !important;} /* 「アカウント管理者」欄 */   

    div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > div:nth-child(1) {pointer-events:none !important;} /* ユーザタブ→「新規ユーザ」ボタン */
    
    div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > div:nth-child(3) {pointer-events:none !important;} /* ユーザタブ→「テンプレートの割り当て」ボタン */
    
    div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > div:nth-child(5) {pointer-events:none !important;} /*ユーザタブ→ 「ポリシー設定」ボタン */
    
    div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > div:nth-child(7) {pointer-events:none !important;}/* ユーザタブ→「CloudEdgeの設定」ボタン */

    div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > div:nth-child(9) {pointer-events:none !important;}/* ユーザタブ→「ライセンスの更新」ボタン */
    
    div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > div:nth-child(11) {pointer-events:none !important;}/*ユーザタブ→ 「エクスポート」ボタン */
    
    div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > div:nth-child(13) {pointer-events:none !important;}/* ユーザタブ→「全てエクスポート」ボタン */
    
    div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > div:nth-child(15) {pointer-events:none !important;}/*ユーザタブ→ 「設定」ボタン */

    div.active > div > div > div > div > div:nth-child(1) > div > button:nth-child(1) {pointer-events:none !important;}
    /*ダッシュボードタブ→イベントログ→ 「全てエクスポート」ボタン */
    
    div.Content-sc-g5e3qh-0.eBCFkW > div > div > div > div > div > div:nth-child(1) > div > button:nth-child(1) {pointer-events:none !important;}
    /*ダッシュボード→通知センター→ 「全てエクスポート」ボタン */
    div.Content-sc-g5e3qh-0.eBCFkW > div > div > div > div > div > div:nth-child(1) > div > button:nth-child(2) {pointer-events:none !important;}
    /*ダッシュボード→通知センター→ 「消去」ボタン */
    div.Content-sc-g5e3qh-0.eBCFkW > div > div > div > div > div > div:nth-child(1) > div > button:nth-child(3) {pointer-events:none !important;}
    /*ダッシュボード→通知センター→ 「通知設定」ボタン */
    
    div.SummaryList__LogsList-sc-e3x5m0-0.iamXeR > div.table---table-wrapper---1t2D3.table---table-bordered---1cbV4.table---table-auto-fit---2I_0P.table---table-fixed-header---3bjFf.table---table-hover---3yCb6.table---table-sortable---KlbyF > div:nth-child(1) > div > div.actions > button {pointer-events:none !important;}/*ダッシュボードタブ→イベントログ→ 「全てエクスポート」ボタン */

    div.LiveStatusList__LogsList-sc-1nkfbfl-0.fSignY > div > div:nth-child(1) > div > div.actions {pointer-events:none !important;}/*ダッシュボードタブ→イベントログ→ 「全てエクスポート」ボタン */


    /* label.checkbox:nth-child(1) {display:none !important;} /*　余計なところまで非表示になってしまう */
    label.checkbox:nth-child(1) {pointer-events:none !important;} /* サードパーティー通知 */    
    a[href="#/administration/integration"] {pointer-events:none !important;} /* 「[管理]＞[サードパーティー...]」リンクの無効化 */    
    label.radio {pointer-events:none !important;} /* 「」欄 */
}
